nav div ul li{
    list-style: none;
    float: left;
    display: flex;
    margin: auto;
    overflow: visible;
    
    height: auto;
}
div{
    background-color: aqua;
    width: 100%;
    height: 5vh;
}
ul li a {
    text-decoration: none;
    text-align: center;
    margin-left: 100px;
    margin-top: 25px;
    
}