*{
    margin: 0px;
    padding: 0px;
}
table{
    width: 80%;
}
table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}
#a{
    background-color: black;
}
#b{
    background-color: yellow;
}
.t{
    background-color: red;
}
.ul{
    list-style-type: square;
}
#s:hover{
    background-color: green;
}
#r:hover{
    background-color: red;
}
#nav{
    background-color: azure;
    width: 100%;
    height: 10vh;
    float: left;
}
#content{
    width: 100%;
    height: 90vh;
    display: flexbox;
    

}
#iframe{
    width: 100%;
    height: 100vh;
    background-color: beige;
}


#nav nav ul li{
    float: left;
    list-style: none;
    margin-left: 10px;
}