table , tr ,th ,td {
    border: 1px solid black;
    border-collapse: collapse;
}

*{
    margin: 0;
    padding: 0;
}

#nav {
    height: 100vh;
    width: 10%;
    background-color: azure;
    float: left;
}
#container {
    height: 100vh;
    width: 90%;
    float: right;
}
#iframe {
    height: 100vh;
    width: 90%;
}