table {
    width: 80%;
    margin: auto;
}

table ,tr ,th ,td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
 }
 form {
    background-color: azure;

 }
 
 .a:hover{
    background-color: green;

 }
 .b:hover {
    background-color: red;
 }
#mahbub {
    
    height: 100vh;
    width: 10%;
    float: left;
}
 ul ,li {
    list-style: none;
}
 
 #div{
    height: 100vh;
    width: 90%;
    float: right;
 }

 #index{
    height: 100vh;
    width: 90%;
 }
 