table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
table
{
    width: 80%;
    height: 40vh;
}

#nav {
    width: 10%;
    height: 100vh;
    background-color: beige;
    float: left;
}
#nav ul,
#nav li {
    list-style: none;
    margin-top: 10px;
    margin-left: 5px;
    
}
a{
    text-decoration: none;

}


#content {
    width: 90%;
    height: 100vh;
    float: right;
}
#iframe{
    width: 100%;
    height: 100vh;
}
#s:hover{
    background-color: green;
}
#r:hover{
    background-color: red;
}
input:hover{
    background-color: azure;
}
*{
    margin: 0;
    padding: 0;
}