*{
    margin: 0px;
    padding: 0px;
}


table{
    width: 80%;
    
}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
/* form{
    border: 2px solid black;
    
} */

#s:hover{
    background-color: green;
}
#r:hover{
    background-color: red;
}
#upnav{
    background-color: azure;
    width: 100%;
    height: 10vh;
}
#downnav{ 
    width: 100%;
    height: 90vh;
}
#downnav #leftnav{
    float: left;
    width: 50%;
    height: 90vh;

}
#downnav #rightnav{
    
    float: right;
    width: 50%;
    height: 90vh;
}
#rightnav iframe{
    float: right;
    width: 50%;
    height: 100vh;
}
#upnav nav ul li{
    list-style: none;
    
    float: left;
    display: flex;
    margin: 10px 5px 5px 5px;
}
a {
    text-decoration: none;
}
table{
    max-width: 600px;
    height: 50vh;
}
#left{
    float: left;
    width: 90%;
    height: 100vh;
}
#left iframe{
    width: 90%;
    height: 100vh;
}
#rightnav{
    float: right;
    background-color: beige;
    width: 10%;
    height: 100vh;
}
#rightnav ul,#rightnav li{
    list-style: none;
    margin: 5px 5px 5px 5px;
}
#rightnav a{
    text-decoration: none;
    color: brown;
}

